        .margen {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .centered {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            text-align: center;
        }
        .benefit-item {
            background-color: bisque;
            opacity: 0.75;
            border-left: 4px solid var(--primary-color);
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }
        .benefit-filler {
            background-color: cornflowerblue;
            opacity: 0.75;
            border-left: 4px solid var(--primary-color);
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }
        .benefit-empty {
            background-color: 0;
            border-left: 4px solid var(--primary-color);
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }
        .benefits {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
            gap: 20px;
            margin: 2rem 0;
            color:black
        }
        .sidebar {
            position: fixed;
            left: 0;
            width: 150px;
            height: 70%;
            vertical-align: bottom 20px;
            top: 150px;
            bottom: 150px;
            background: black;
        }
        .sidebar .sidebarItem{
            display: block;
            color: green;
            padding: 20pt;
            text-decoration: wavy;
        }
        .centeredItem{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .pseudomarginL{
            position: fixed;
            left: 0;
            width: 120px;
            height: 100%;
            vertical-align: bottom 20px;
            background: black;
            opacity: 0.5;
        }
        .pseudomarginR{
            position: fixed;
            left: 95%;
            width: 100%;
            height: 100%;
            vertical-align: bottom 20px;
            background: black;
            opacity: 0.5;
        }
        .pseudomargin-obj{
            display: block;
            color: green;
            padding: 20pt;
            text-decoration: wavy;
        }
        
#cosaArbitraria {
    color:chartreuse;
}